.acerca-de{
    height: 100vh;
    background: url('https://res.cloudinary.com/dyntggmrp/image/upload/v1633348692/nba-2k20-lebron-james_12b0bwmqtwxi31v8whozee2b39_gdro3i.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.acerca-de-container{
    height: 100%; width: 100%;
    background-color: rgba(0, 0, 0, 0.808);
    display: flex;
    align-items: center;
}

.acerca-de-content {
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cita{
    border: 1px solid rgba(94, 94, 94, 0.137);
    padding: 5px 10px; 
}

.cita h6{
    font-weight: 800;
    letter-spacing: 0px;
    margin-bottom: 2px;
    color: rgb(155, 155, 155);
}


.cita p{
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.692);
    font-weight: 300;
}

.title-acerca-de{
    letter-spacing: -2px;
    font-weight: 800;
    color: #B59721;
    margin-bottom: 2.5px;
}

.funcionamiento p{
    color: #fff;
    font-weight: 300;
    text-align: justify;
    font-size: 18px;
}

.reglas{
    padding: 5px 10px; 
}

.cards-container{
    display: flex;
    overflow: auto;
    column-gap: 0px;
    align-items: center;
    padding: 20px 0;
}

.cards-container::-webkit-scrollbar{
    background: inherit;
    height: 10px;
}
.cards-container::-webkit-scrollbar-thumb{
    background: rgb(53, 53, 53);
    outline: 1px solid slategrey;
}

.cards-container::-webkit-scrollbar-track-piece{
    width: 30px;
    background: #B59721;;
}